@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #f8f5f2;
    color: #3d2c2e;
    text-align: center;
}

/*navbar*/
header {
    background: #c5925c;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    border-bottom: 3px solid white;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
}

.text h1 {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

/*ceo name*/
.ceo-section {
    position: relative;
    background: url('../Asset/bg.webp') center/cover no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    width: 90%;
    z-index: 2;
}

.text-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 35px;
    border-radius: 12px;
    max-width: 3000px;
}

.ceo-info {
    flex: 1;
    text-align: center;
}

.ceo-title {
    font-size: 32px;
    font-weight: bold;
    margin: 10px;

}

.ceo-quote {
    font-size: 18px;
    font-style: italic;
    margin: 15px 0;
    opacity: 0.9;
}

.ceo-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ceo-image img {
    width: 360px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*ceo story*/
.ceo-story-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../Asset/2_bg.png') center/cover no-repeat;
    padding: 80px 20px;
    position: relative;
}

.ceo-story-card {
    background: #f8f5f2(255, 255, 255, 0.95);
    max-width: 800px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

.ceo-story-title {
    font-size: 28px;
    font-weight: bold;
    color: #8B4513;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ceo-story-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.ceo-story-text span {
    font-weight: bolder;
    color: #333;
}

.ceo-signature {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #8B4513;
    margin-top: 20px;
}

/*vision mission*/
.vision-mission-section {
    background-color: #ffff;
    padding: 80px 20px;
    text-align: center;
}

.vision-mission-section .text {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f6ede4;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}

.vision-mission-section h2 {
    font-size: 28px;
    color: #8B4513;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.vision-mission-section p {
    font-size: 18px;
    color: #3d2c2e;
    line-height: 1.7;
}

/* story section */
.story-section {
    background: linear-gradient(to right, #fceabb, #F5F5F5, #cc9556);
    background-repeat: repeat;
    background-size: auto, cover;
    padding: 50px 20px;
    text-align: center;
}

.story-section h2 {
    font-size: 28px;
    color: #2d2d2d;
    font-weight: bold;
    margin-bottom: 40px;
}

.story-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    color: #3a3a3a;
    font-size: 17px;
    line-height: 1.7;
}

.story-image {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.story-paragraph {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    color: #3d2c2e;
    padding: 0 20px;
}

.story-paragraph p {
    margin-bottom: 25px;
    text-align: justify;
    text-indent: 30px;
}

/*footer*/
.footer {
    background: #f8f8f8;
    color: #4e342e;
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.footer-column {
    text-align: center;
}

.footer-logo {
    width: 150px;
    margin-top: -10px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-section p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.contact-section i {
    color: #8B5E3B;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    font-size: 24px;
    color: #8B5E3B;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #a76d48;
}


/* RESPONSIVE DESIGN for screen width ≤ 768px */
@media screen and (max-width: 768px) {

    /* NAVBAR */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo img {
        max-width: 120px;
        height: auto;
    }

    /* CEO SECTION */
    .ceo-section {
        max-height: 700px;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 70%;
        padding: 0 10px;
    }

    .ceo-info,
    .ceo-image {
        flex: none;
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .ceo-image img {
        width: 80vw;
        max-width: 300px;

        height: auto;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .text-box {
        max-width: 100%;
        padding: 20px;
    }

    .ceo-title {
        font-size: 24px;
    }

    .ceo-quote {
        font-size: 16px;
    }

    /* CEO STORY SECTION */
    .ceo-story-section {
        padding: 50px 15px;
    }

    .ceo-story-card {
        max-width: 80%;
        max-height: 500px;
        padding: 25px 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        text-align: left;
    }

    .ceo-story-title {
        font-size: 22px;
    }

    .ceo-story-text {
        font-size: 16px;
        line-height: 1.5;
    }

    .ceo-signature {
        font-size: 20px;
        text-align: right;
    }

    /* VISION MISSION SECTION */
    .vision-mission-section {
        padding: 30px 10px;
    }

    .vision-mission-section .text {
        max-width: 80%;
        margin: 20px auto;
        padding: 20px;
        margin-bottom: 40px;
    }

    .vision-mission-section h2 {
        font-size: 22px;
    }

    .vision-mission-section p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* STORY SECTION */
    .story-section {
        padding: 40px 10px;
    }

    .story-section h2 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .story-content {
        max-width: 100%;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px;
    }

    .story-image {
        width: 90vw;
        max-width: 280px;
        margin-bottom: 40px;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}